[submodule "bmya/queue"]
	path = bmya/queue
	url = git@github.com:bmya/queue.git
	branch = 10.0

[submodule "bmya/reporting-engine-1"]
	path = bmya/reporting-engine-1
	url = git@github.com:bmya/reporting-engine-1.git
	branch = 10.0

[submodule "bmya/connector"]
	path = bmya/connector
	url = git@github.com:bmya/connector.git
	branch = 10.0

[submodule "bmya/product-attribute"]
	path = bmya/product-attribute
	url = git@github.com:bmya/product-attribute.git
	branch = 10.0

[submodule "bmya/partner-contact"]
	path = bmya/partner-contact
	url = git@github.com:bmya/partner-contact.git
	branch = 10.0

[submodule "bmya/account-financial-tools-1"]
	path = bmya/account-financial-tools-1
	url = git@github.com:bmya/account-financial-tools-1.git
	branch = 10.0

[submodule "bmya/miscellaneous"]
	path = bmya/miscellaneous
	url = git@github.com:bmya/miscellaneous.git
	branch = 10.0

[submodule "bmya/account-financial-tools"]
	path = bmya/account-financial-tools
	url = git@github.com:bmya/account-financial-tools.git
	branch = 10.0

[submodule "bmya/oca-account-payment"]
	path = bmya/oca-account-payment
	url = git@github.com:bmya/oca-account-payment.git
	branch = 10.0

[submodule "bmya/account-payment"]
	path = bmya/account-payment
	url = git@github.com:bmya/account-payment.git
	branch = 10.0

[submodule "bmya/odoo-argentina"]
	path = bmya/odoo-argentina
	url = git@github.com:bmya/odoo-argentina.git
	branch = 10.0

[submodule "bmya/server-tools"]
	path = bmya/server-tools
	url = git@github.com:bmya/server-tools.git
	branch = 10.0
