xlwt
xlsxwriter
py3o.template
py3o.formats
cachetools>=2.0.1
unittest2
python-stdnum==1.1
suds
requests
unicodecsv
validate_email
pyOpenSSL
m2crypto>=0.18
httplib2>=0.7
pysimplesoap==1.08.8
fpdf>=1.7.2
dbf>=0.88.019
Pillow>=2.0.0
openupgradelib
git+https://github.com/reingart/pyafipws@master